.swal2-popup.swal2-toast::before {
  flex-direction: column;
}

.swal2-popup.swal2-toast::after {
  flex-direction: column;
}

.swal-admin-popup {
  background-color: red;
}

.admin .swal2-header {
  flex-direction: column;
}

.container {
  width: 100%;
}

.admin-main {
  display: flex;
  /* margin-left: var(--side-bar-width); */
  /* width: 100%; */
}

.btn {
  transition: all 0.2s;
}


:is(.btn-edit):hover {
  background: rgba(0, 33, 124, 0.39);
}

.btn-details:hover {
  background: rgba(255, 208, 0, 0.39);

}

.btn-remove:hover {
  background: rgba(124, 0, 0, 0.39);
}
.table td {
  padding: 5px;
}
:is(.users-table-main) :is(button, a) {
  padding: 5px 5px;
  margin: 0;
}

.admin-title {
  text-align: center;
  margin: 20px 0;
}.admin-title h1 {
  font-weight: 600;
}

#admin {
  text-align: center;
  margin: 20px 0;
}#admin h1 {
  font-weight: 600;
}

.forum-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forum-container {
  width: 500px;
  padding: 5px 20px 0 20px;
  margin: 0 auto 10px;
  border: 2px solid rgb(81, 82, 81);
  border-radius: 10px;
}

button {
  margin: 10px auto;
}


#imgPreview {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(81, 82, 81);
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  margin-bottom: 25px;
}

#imgPreview p {
  margin-bottom: 5px;
}

#imgPreview img {
  max-width: 100%;
  max-height: 100%;
}

.swal2-header {
  display: block;
}


@media screen and (max-width: 991px) {
  thead tr {
    text-align: center;
  }
  tbody tr> td:nth-child(4) {
    display: flex;
    flex-direction: column;
  }
  /* tbody td:nth-child(4) {
    content: "";
  } */
}