.swal2-popup.swal2-toast::before {
  flex-direction: column;
}

.swal2-popup.swal2-toast::after {
  flex-direction: column;
}

.swal-admin-popup {
  background-color: red;
}

.admin .swal2-header {
  flex-direction: column;
}

.container {
  width: 100%;
}

.admin-main {
  display: flex;
}

.btn {
  transition: all 0.2s;
}
.separator {
  display: inline;
}

:is(.btn-edit):hover {
  background: rgba(0, 33, 124, 0.39);
}

.btn-details:hover {
  background: rgba(255, 208, 0, 0.39);

}

.btn-remove:hover {
  background: rgba(124, 0, 0, 0.39);
}
.table td {
  padding: 5px;
}
:is(.users-table-main) :is(button, a) {
  padding: 5px 5px;
  margin: 0;
}

.admin-title {
  text-align: center;
  margin: 20px 0;
}.admin-title h1 {
  font-weight: 600;
}

#admin {
  text-align: center;
  margin: 20px 0;
}#admin h1 {
  font-weight: 600;
}

.forum-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forum-container {
  width: 500px;
  padding: 5px 20px 0 20px;
  margin: 0 auto 10px;
  border: 2px solid rgb(81, 82, 81);
  border-radius: 10px;
}

button {
  margin: 10px auto;
}

#imgPreview {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(81, 82, 81);
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  margin-bottom: 25px;
}

#imgPreview p {
  margin-bottom: 5px;
}

#imgPreview img {
  max-width: 100%;
  max-height: 100%;
}

.swal2-header {
  display: block;
}

.btn-open-side-bar {
  display: none;
  position: absolute;
  font-weight: 600;
  font-family: sans-serif;
  top: 100px;
  background-color: rgba(0, 33, 124, 0.39);
  border-radius: 0 20px 20px 0;
  transition: opacity 0.5s 0.3s;
}

.users-table-main {
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .btn-open-side-bar {
    display: initial;
  }
}

@media screen and (max-width: 991px) {
  thead tr th {
    padding-left: 5px;
  } thead tr th:nth-child(4) {
    text-align: center;
  }
  tbody tr> td:nth-child(4) {
    display: flex;
    flex-direction: column;
  }
  .separator {
    display: none;
  }
}

